package games

import (
	"stockmarket/models"
	"strconv"
	"strings"
	"fmt"
	"math"
)

templ GameStockModal(displayGameStocks []models.GameStockDisplay, gameID string, insightID uint, currentPlayerName string, insightPlayerName string) {
	<form
		hx-post="/games/hold_stock"
		id={ "stock-hold-modal-" + strconv.FormatUint(uint64(insightID), 10) }
		class="modal fade"
		aria-labelledby="insightModalDismiss"
		tabindex="-1"
		aria-hidden="true"
	>
		<input type="hidden" name="gameID" value={ gameID }/>
		<input type="hidden" name="insightID" value={ strconv.FormatUint(uint64(insightID), 10) }/>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					if insightPlayerName == currentPlayerName {
						<h1 class="modal-title fs-5" id="insightModalDismiss">Would you like to suspend a share?</h1>
					} else {
						<h1 class="modal-title fs-5" id="insightModalDismiss">Waiting for { insightPlayerName } to suspend a share</h1>
					}
				</div>
				<div class="modal-body d-grid" style="grid-template-columns: 1fr 1fr 1fr;">
					for _, gameStock := range displayGameStocks {
						<input
							id={ strconv.FormatUint(uint64(gameStock.StockId), 10) }
							class="btn-check hold-game-stock"
							type="radio"
							name="stockID"
							value={ strconv.FormatUint(uint64(gameStock.StockId), 10) }
							autocomplete="off"
						/>
						<div
							id={ "game-stock-" + strings.ReplaceAll(strings.ToLower(gameStock.Name), " ", "-") }
							class="game-stock-value-change btn btn-outline-secondary"
							data-game-stock-id={ strconv.FormatUint(uint64(gameStock.ID), 10) }
						>
							<label for={ strconv.FormatUint(uint64(gameStock.StockId), 10) }>
								<img height="64px" src={ gameStock.ImagePath } alt={ gameStock.Name }/>
							</label>
							<div class="fw-bolder">
								£<span class="stock-value">{ fmt.Sprintf("%.2f", gameStock.Value) }</span>
							</div>
							if gameStock.TotalValueChange > 0 {
								<label class="text-success stock-change" for={ strconv.FormatUint(uint64(gameStock.ID), 10) }>
									+£<span class="stock-value">{ fmt.Sprintf("%.2f", math.Abs(gameStock.TotalValueChange) ) }</span>
								</label>
							} else if gameStock.TotalValueChange < 0 {
								<label class="text-danger stock-change" for={ strconv.FormatUint(uint64(gameStock.ID), 10) }>
									-£<span class="stock-value">{ fmt.Sprintf("%.2f", math.Abs(gameStock.TotalValueChange) ) }</span>
								</label>
							} else {
								<label class="text-secondary stock-change" for={ strconv.FormatUint(uint64(gameStock.ID), 10) }>
									£0
								</label>
							}
						</div>
					}
				</div>
				if insightPlayerName == currentPlayerName {
					<div class="modal-footer">
						<button
							class="btn close btn-secondary flex-fill"
							name="confirm"
							value="false"
							data-bs-dismiss="modal"
							aria-label="Close"
						>
							Skip
						</button>
						<button
							class="btn close btn-success flex-fill"
							name="confirm"
							value="true"
							data-bs-dismiss="modal"
							aria-label="Close"
						>
							Confirm
						</button>
					</div>
				}
			</div>
		</div>
	</form>
}

templ SpecialInsights(gameID string, insights []models.GameInsight, hiddenGameStocks []models.GameStockDisplay, displayGameStocks []models.GameStockDisplay, players []models.PlayerDisplay, currentPlayer models.PlayerDisplay) {
	<div
		class="gap-3 p-4 d-grid"
		style="height: 100vh; max-height: -webkit-fill-available; grid-template-rows: 100px 1fr auto auto;"
	>
		<div class="d-flex flex-column align-items-center justify-content-center">
			<h1>End of round</h1>
			<h2>Additional insights</h2>
			<input id="gameID" type="hidden" name="gameID" value={ gameID }/>
		</div>
		<div id="insight-view" class="card card-green p-4 rounded border border-5 border-white">
			for _, insight := range insights {
				<div
					id={ "insight-" + strconv.FormatUint(uint64(insight.InsightID), 10) }
					class={ "game-insight", "game-stock-insight-" + strconv.FormatUint(uint64(insight.GameStockID), 10), "gap-3 h-100" }
					style="display: none; grid-template-columns: 2fr 1fr;"
					data-game-stock-id={ strconv.FormatUint(uint64(insight.GameStockID), 10) }
					data-insight-id={ strconv.FormatUint(uint64(insight.InsightID), 10) }
				>
					<div
						class="rounded d-grid align-items-center"
						style="background-color: #3C5F2F; grid-template-columns: 1fr 1fr"
					>
						<div
							id={ "game-stock-view-" + strconv.FormatUint(uint64(insight.GameStockID), 10) }
							class="game-stock-view d-flex flex-column align-items-center"
						>
							<div>
								<img height="120px" src={ insight.SecondaryImagePath } alt={ insight.Name } class="rounded"/>
							</div>
							<h2 class="text-capitalize">
								{ insight.Name }
							</h2>
						</div>
						<div class="d-flex flex-column text-center">
							if insight.InsightValue == 0 {
								@GameStockModal(displayGameStocks, gameID, insight.InsightID, currentPlayer.UserName, insight.UserName)
								<button
									id="stock-hold-modal-button"
									data-bs-toggle="modal"
									data-bs-target={ "#stock-hold-modal-" + strconv.FormatUint(uint64(insight.InsightID), 10) }
									aria-hidden="true"
									type="button"
									class="btn btn-primary"
								>
									Click here to select a stock to Suspend
								</button>
							} else {
								<p>
									Change
								</p>
								<h1 class={ "stock-total-insight-value-display-" + strconv.FormatUint(uint64(insight.GameStockID), 10) }>
									<span class={ "stock-total-insight-value", "stock-total-insight-value-" + strconv.FormatUint(uint64(insight.GameStockID), 10) }>
										0
									</span>%
								</h1>
								<div class={ "price-modifier-display", templ.KV("text-danger", insight.InsightValue <= 0), templ.KV("text-success", insight.InsightValue > 0) }>
									<span class="price-modifier">
										{ strconv.FormatFloat(insight.InsightValue * 100, 'f', -1, 64) }
									</span>%
								</div>
							}
						</div>
					</div>
					<div class={ "game-insight-card rounded bg-white text-black p-5 d-flex flex-column align-items-center justify-content-center", templ.KV("sticky", insight.Name == "Hold Stock Price") }>
						<img height="120px" src={ insight.ImagePath } alt={ insight.Name }/>
						if insight.InsightValue != 0 {
							<div class="d-flex flex-row gap-2 align-items-center">
								if insight.InsightValue > 0 {
									<img height="24px" src="/static/imgs/icons/stock_up.svg" alt="stock up arrow"/>
								} else {
									<img height="24px" src="/static/imgs/icons/stock_down.svg" alt="stock down arrow"/>
								}
								<h2 class="text-black">
									{ strconv.FormatFloat(insight.InsightValue * 100, 'f', -1, 64) }%
								</h2>
							</div>
						}
						<p>
							{ insight.Description }
						</p>
					</div>
				</div>
			}
		</div>
		<div class="d-none">
			<div id="hidden-game-stocks">
				for _, gameStock := range hiddenGameStocks {
					<div
						id={ "game-stock-" + strings.ReplaceAll(strings.ToLower(gameStock.Name), " ", "-") }
						class="game-stock d-flex flex-column align-items-center"
						data-game-stock-id={ strconv.FormatUint(uint64(gameStock.ID), 10) }
					>
						<!-- used for changing value display-->
						<span class="d-none stock-total-insight-value">
							0
						</span>
						<div>
							<span class="stock-value">{ strconv.FormatFloat(gameStock.Value * 100, 'f', -1, 64) }</span>
						</div>
					</div>
				}
			</div>
		</div>
		<div id="player-view" class="card card-green p-4 rounded border-5 border-white d-flex flex-row justify-content-between align-items-center">
			<h2>
				Cash:
			</h2>
			<div class="players d-flex w-100 gap-5 flex-row justify-content-center">
				<style>
                    .cash-change {
                        animation-name: glideInOutMini;
                        animation-duration: 2s;
                        animation-fill-mode: both;
                    }
                </style>
				for _, player := range players {
					<div id={ "player-" + strconv.FormatUint(uint64(player.PlayerID), 10) } class="player d-flex flex-column align-items-center">
						<img height="80px" width="80px" class="rounded" src={ player.UserProfileRoot } alt={ player.UserName }/>
						<div>
							£<span class="player-cash">{ strconv.Itoa(player.Cash) }</span>
						</div>
						<div class="position-relative w-100 d-flex flex-column align-items-center">
							<div class="position-absolute">
								<div class="cash-change" style="display: none;"></div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
		// <div class="card card-green p-4 rounded  d-flex flex-row justify-content-between align-items-center">
		// 	<h2>
		// 		Net Worth:
		// 	</h2>
		// 	<div class="d-flex w-100 gap-5 flex-row justify-content-center">
		// 	for _, player := range players {
		// 		<div class="d-flex flex-column align-items-center">
		// 			<img height="80px" width="80px" class="rounded" src={ player.UserProfileRoot } alt={ player.UserName }/>
		// 			<td>£{ strconv.FormatFloat((player.TotalValue + float64(player.Cash)), 'f', -1, 64) }</td>
		// 		</div>
		// 	}
		// 	</div>
		// </div>
	</div>
	<div id="next-step-wrapper" class="position-absolute bottom-0 end-0 p-3">
		<form id="next-period" hx-post="/api/games/next_period">
			<input type="hidden" value={ gameID } name="gameID"/>
			<button
				class="btn btn-primary d-flex flex-row gap-2 align-items-center"
			>
				Next Round
				<svg height="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
					<!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
					<path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path>
				</svg>
			</button>
		</form>
	</div>
	<link rel="stylesheet" href="/static/stylesheets/closed.css"/>
	<script>
        // bug: on socket, this is running inside htmx and so picks up both new hiddenGameStocks and existing hiddenGameStocks
        animateCurrency();
    </script>
}

templ SpecialInsightsSocket(gameID string, insights []models.GameInsight, hiddenGameStocks []models.GameStockDisplay, displayGameStocks []models.GameStockDisplay, players []models.PlayerDisplay, currentPlayer models.PlayerDisplay) {
	<div hx-swap-oob="innerHTML:main">
		@SpecialInsights(gameID, insights, hiddenGameStocks, displayGameStocks, players, currentPlayer)
	</div>
}