package users

import (
    "stockmarket/models"
)
templ Card(user models.User) {
	<div class="card" style="width: 6rem;">
		<img src={user.ProfileRoot} class="card-img-top" alt={user.Name + " profile"}/>
		<div class="card-body">
			<h5 class="text-center card-title">{user.Name}</h5>
		</div>
	</div>
}