package player_stocks

templ Error(err error){
    <div id="play-view" class="d-flex justify-content-center align-items-center bg-white text-black rounded-bottom p-3 ">
        <p>
            {err.Error()}
        </p>
        <a class="btn btn-primary" href="/">Go Back</a>
    </div>
}